NODE_ENV=development
NITRO_HOST=0.0.0.0
NITRO_PORT=3000
SITE_URL=https://example.com
DOMAIN_NAME=example.com
CANONICAL_DOMAIN=example.com
DB_NAME=example-db
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/?appName=<app>
CLOUDINARY_CLOUD_NAME=<cloud-name>
# generate: openssl rand -hex 32
CACHE_PURGE_SECRET=<secret>
